---
---

@import "{{ site.theme }}";

$color: #1788fa;
$footer-color: rgba(255, 255, 255, 0.5);

$header-bg-color: #065a83;
$header-bg-color-secondary: #1788fa;

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.strike-through {
    text-decoration: line-through;
}

#languages {
    position: absolute;
    right: 1em;
    top: 1em;
}

#scroll-to-top-btn {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 30px;
    height: 30px;
    opacity: 0;

    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;

    border-radius: 50%;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

    &:hover > span.arrow {
        border-color: white;
        margin-top: 10px;
    }

    span.arrow {
        border: solid rgba(255, 255, 255, 0.7);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px;

        margin-left: 9px;
        margin-top: 11px;

        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}

header.page-header {
    padding: 2rem 3rem;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

    .btn {
        margin-bottom: 0;
    }

    .logo {
        max-width: 15em;
        margin: 0 auto;
        display: block;
    }
}


main.main-content {
    padding: 2rem 5rem;
    max-width: 90em;

    h3 {
        color: $color;
    }
}

footer.site-footer {
    color: $header-heading-color;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    padding: 2rem 5rem;
    position: relative;

    .btn {
        margin-bottom: 0;
        text-align: center;
    }

    .site-footer-credits {
        padding-top: 2rem;
        color: rgba(255, 255, 255, 0.8);
        display: block;

        a {
            color: #fff;
        }

        & > div {
            margin: 0.2em;
        }
    }
}

@media screen and (max-width: 42em) {
    #languages {
        width: 70%;
    }

    main.main-content {
        padding: 2rem 1rem;

        h3 {
            color: $color;
        }
    }

    footer.site-footer {
        padding: 2rem 1rem;
    }
}
